* {
    color: white;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text{
    text-align: left;
}

.diets {
    display: inline;
    margin-right: 10px;
}
